<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
    http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    
	<!-- 配置调度任务 -->
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 配置文件 -->
		<property name="configLocation" value="classpath:quartz.properties"/>

        <!-- 每台集群机器部署应用的时候会更新触发器-->
        <property name="overwriteExistingJobs" value="true"/>
        
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
        
        
        <property name="autoStartup" value="true" />
        
        <property name="triggers">
            <list>
                <ref bean="taskJobTrigger"/>
            </list>
        </property>
        
        <!-- <property name="jobDetails">
            <list>
                <ref bean="taskJobDetail"/>
            </list>
        </property> -->
		
	</bean>
	
	<!-- <bean id="taskJob" class="org.sevenzero.springdemo.SimpleTimeTest">
	</bean> -->
	
<!-- 	<bean id="taskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="name" value="taskJob" />
		<property name="group" value="Invoice_Trigger_Group" />
		<property name="targetObject">
			<ref bean="taskJob" />
		</property>
		<property name="targetMethod">
			<value>doStudy</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean> -->
	
	<bean id="quartzJob" class="org.sevenzero.springdemo.QuartzJob">
	</bean>
	
	<bean id="taskJobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
	    <property name="jobClass">
	        <value>org.sevenzero.springdemo.MyDetailQuartzJobBean</value>
	    </property>
	    
		<property name="jobDataAsMap">
		    <map>
		        <entry key="targetObject" value="quartzJob"></entry>
		        <entry key="targetMethod" value="execute"></entry>
		    </map>
		</property>
	</bean>
	
	<!--   每隔五秒执行一次  -->
	<bean id="taskJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="name" value="StartTrigger" />
		<property name="group" value="Invoice_Trigger_Group" />
		<property name="jobDetail" ref="taskJobDetail" />
		<property name="cronExpression">
 			<value>0/5 * * * * ?</value>
		</property>
	</bean>
	
	<!-- <bean id="taskJobSchedule" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<property name="schedulerName" value="taskJobSchedule" />
		<property name="triggers">
			<list>
				<ref bean="taskJobTrigger" />
			</list>
		</property>	
	</bean>  -->
	 
</beans>